* {
    box-sizing: border-box;
}

body,html {
    margin: 0;
    font-family: Inter, sans-serif;
    /* background-color: blue; */
    height: 100%;
}

.container {
    display: flex;
    flex-direction: column;
    height: 100%;
    /* background-color: blue; */
}

nav {
    display: flex;
    align-items: center;
    background-color: #ffffff;
    padding: 30px 25px;
    height: 60px;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);
    z-index: 1;
}

nav.dark {
    background-color: #21222A;
}

.nav--logo-txt {
    margin: 0;
}

.nav--logo-txt {
    color: #61DAFB;
    margin-right: auto;
    font-size: 22px;
    font-weight: 700;
    line-height: 27px;
    letter-spacing: -0.05em;
}

.nav--logo {
    margin-right: 7px;
    width: 28.93px;
    height: 28.93px;
    content: url('./assets/react-small-logo.svg');
}

.mode {
    display: flex;
    align-items: center;
    gap: 7px;
}

.light-mode-txt {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 10px;
    line-height: 11px;
    color: #2B283A;
}

nav.dark .light-mode-txt {
    color: #918E9B;
}

.dark-mode-txt {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 10px;
    line-height: 11px;
    color: #D5D4D8;
}

nav.dark .dark-mode-txt {
    color: #FFFFFF;
}

.toggle-bar {
    background-color: #2B283A;
    border-radius: 11px;
    width: 24px;
    height: 13px;
    display: flex;
    align-items: center;
    justify-content: start;
    box-sizing: content-box;
    border: 1px solid black;
}

nav.dark .toggle-bar {
    border-color: white;
    background-color: #F5F5F5;
    justify-content: end;
}

.elipse {
    width: 11px;
    height: 11px;
    background-color: #ffffff;
    border-radius: 50%;
}

nav.dark .elipse {
    background-color: black;
}

.body-title {
    font-size: 39px;
    font-weight: 700;
    line-height: 47px;
    letter-spacing: -0.05em;
    margin: 0;
}

.container main {
    margin-bottom: auto;
    padding: 57px 27px;
    color: #2B283A;
    background-image: url('./assets/react-logo-light.svg');
    background-repeat: no-repeat;
    background-position: right center;
    background-color: #ffffff;
}

main.dark {
    background-image: url("./assets/react-background-logo.svg"); 
    background-color: #282D35;
    color: white;    
}

.items > li {
    font-size: 16px;
    font-weight: 400;
    padding-block: 10px;
}

.items > li::marker {
    font-size: 1.4rem;
    color: #61DAFB;
}

.items {
    margin-top: 41px;
    max-width: 400px;
}